h1{
  color: red;
  text-underline-position: below;
}
.top img{
  height: 150px;
  width :250px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  /**border: 0.1em solid red;**/
}

h2{
  color: red;
}
.Mycity > img,p{
  padding-top: 2px;
  /**border: 1px solid red;
  /**grid-column-gap: 20px;**/
}
p{
  color:green;
  font-size: 20px;
}
table,th,td{
  color: green;
   border: 0.1em solid red;
   border-collapse: collapse;
}
strong {
  color: red;
}
